
.creditsFormHeader{
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

.statElement{
    .padding: 10px;
}

.labelRangeLeft{
    display: inline-block;
    width: 100px;
    text-align:right;
    margin-right: 10px;
}

.labelRangeRight{
    display: inline-block;
    width: 50px;
    text-align:left;
    margin-left: 10px;
}

.creditsFormRangeInput {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 325px;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.labelValueElement{
    margin-right: 10px;
    display: inline-block;
    width: 125px;
}

.creditsFormBox{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 13px solid #3b3b3b;
    border-radius: 15px;
    background-color: #616161;
    color: #00ff00;
    width:650px;
    margin-bottom: 30px;
}

.creditsFormLabel{
    width: 300px;
    display: inline-block;
    border-bottom: 3px dotted black;
}

.creditsFormTextInput{
    margin: 5px;
    padding: 15px;
    border: 3px solid #3b3b3b;
    border-radius: 1px;
    background-color: #919191;
    color: #00ff00;
    width: 300px;
    align: bottom;
}

.creditsFormTextArea{
    margin: 5px;
    padding: 15px;
    border: 3px solid #3b3b3b;
    border-radius: 1px;
    background-color: #919191;
    color: #00ff00;
    width: 300px;
    height: 75px;
}